//custom variables
$primary: #FFFFFF;
$light: #EEA243;
$warning: #a5c2a5;
$info: #efefef;
$dark: #cfc8c6 ;
$success: #7cb9b9;

$display-font-sizes: (
  1: 7rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
);

$display-font-weight: 300;

.parallax{
    /* The image used */

  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


//import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss';
